@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: ivory;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 6em; /* Adjust font size if needed */
  font-weight: 700;
  text-shadow:15px 15px 1px rgba(0, 0, 0, 1);
}


.text0, .text2 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text1, .text3 {
  color: black;
  -webkit-text-fill-color: #bc0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#text h1 {
  font-size: 7em;
  margin: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  #text h1 {
    font-size: 2.25em;
  }

}
